### Examples

In [9]:
i = 1
for color in 'red', 'orange', 'yellow', 'green', 'cyan', 'blue', 'violet':
    print('#', i, 'color of rainbow is', color)
    i += 1

# 1 color of rainbow is red
# 2 color of rainbow is orange
# 3 color of rainbow is yellow
# 4 color of rainbow is green
# 5 color of rainbow is cyan
# 6 color of rainbow is blue
# 7 color of rainbow is violet

In [15]:
for i in 1, 2, 3, 'one', 'two', 'three':
    print(i)

1
2
3
one
two
three

In [19]:
for i in range(4):
    print(i, i ** 2, sep=' --> ')
print('End of loop')

0 --> 0
1 --> 1
2 --> 4
3 --> 9
End of loop

In [22]:
sum = 0
n = 5
for i in range(1, n + 1):
    sum += i
print(sum)

15

In [34]:
for i in range(100, 0, -1):
    print(i, end=' ')

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

### Tasks

#### 1. "Ряд - 1". Даны два целых числа A и B (A <= B). Выведите все числа от A до B включительно.

In [33]:
a, b = int(input()), int(input())

for n in range(a, b + 1):
    print(n, end=' ')

1
10
1 2 3 4 5 6 7 8 9 10

#### 2. "Ряд - 2". Даны два целых числа A и B. Выведите числа от A до B включительно, в порядке возрастания, если A < B, или в порядке убывания в противном случае.

In [35]:
a, b = int(input()), int(input())

if a >= 0 and b >= 0:
    if a < b:
        for n in range(a, b + 1):
            print(n, end=' ')
    else:
        for n in range(a, b - 1, -1):
            print(n, end=' ')
if a < 0:
    if a < b:
        for n in range(a, b + 1):
            print(n, end=' ')
    else:
        for n in range(a, b - 1):
            print(n, end=' ')
if b < 0:
    if a < b:
        for n in range(a, b - 1):
            print(n, end=' ')
    else:
        for n in range(a, b - 1, -1):
            print(n, end=' ')

12
-5
12 11 10 9 8 7 6 5 4 3 2 1 0 -1 -2 -3 -4 -5

#### 3. "Ряд - 3". Даны два целых числа A и B, A > B. Выведите все нечётные числа от A до B включительно, в порядке убывания. В этой задаче можно обойтись без инструкции if.

In [37]:
# пока не придумала как решить без if
a, b = int(input()), int(input())

for n in range(a, b - 1, -1):
    if n % 2 != 0:
        print(n, end=' ')

200
186
199 197 195 193 191 189 187